<!DOCTYPE html>
<html>

  <head>
  <link rel="icon" href="/public/favicon.icon" type="image/x-icon" />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
    <body>
 
      <p>Quiz : el juego de las preguntas</p>
      <form method="get" action="/quizes/creditos">
      <%= creditos%> <p>
          <h1 ><strong>This is Luis :</strong></h1>
          <iframe class="centering" src="https://www.youtube.com/embed/UUsZImHB8xU" style="
    width: 40px;
    height: 30px;
"   frameborder="0" 
    allowfullscreen>
      
    </iframe>
    <img class="centering"  src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/8/005/066/0c2/170ac1d.jpg">
      <h1 class="marta"><strong>This is Marta:</strong></h1>
    <img class="centering"  src="https://media.licdn.com/media/p/8/005/0b6/3c4/3a29c49.jpg">

       </form>
    </body>
</html>