<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
  <link rel="icon" href="favicon.icon" type="image/x-icon" />

  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podra crear sus propios juegos</p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>