<!DOCTYPE html>
<html>

  <head>
 
    <title>Quiz</title>
    
  

  </head>
  <body>
    <p>Quiz : el juego de las preguntas</p>
    <%= respuesta%><p>
    <a href="/quizes/<%= quiz.id %>"> Volver</a>
  </body>
</html>